<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>401 Authorization Required</title>
</head><body>
<h1>Authorization Required To Access Galaxy</h1>
<p>In order to access Galaxy, you will need to first be added as a galaxy user.  Please contact {{admin_name}} at <a href="mailto:{{admin_email}}">{{admin_email}}</a> so that you can be added as a galaxy user.</p>
</body>
</html>
